<div class="profile grid">
  <div class="profile-header grid">
    <div class="profile-data grid">
      <div class="data grid">
        <div class="image grid">
          <img src="/">
        </div>
        <div class="data-nick grid">
          <h1>Maxim Gusev</h1>
          <p>@asdfacdsadvads</p>
        </div>
        <div class="follow grid">
          <a href="/">Follow</a>
        </div>
        <div class="data-about grid">
          <p>I am who i who and etc</p>
        </div>
      </div>

      <nav class="menu">
        <a href="/">Feed</a>
        <a href="/">Favorites</a>
        <a href="/">Following</a>
        <a href="/">Followers</a>
      </nav>

    </div>
  </div>
</div>
